<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<h3><a href="/static_pages/about">About</a></h3>
<h3><a href="/static_pages/help">Help</a></h3>
<h3><a href="/static_pages/contact">Contact</a></h3>